@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Best Library Management</h1>
    <h2>Explore our collection of books and manage your library efficiently</h2>
    <a href="@Url.Action("BorrowBook", "Home")" class="btn btn-primary">Borrow Book</a>
    <a href="@Url.Action("ReturnBook", "Home")" class="btn btn-primary">Return Book</a>
    <a href="@Url.Action("LookupBook", "Home")" class="btn btn-primary">Lookup Book</a>
</div>
@* @{
    throw new Exception("This is a deliberate exception for testing purposes.");
} *@

@* @{ 
    System.IO.File.OpenRead("non_existent_file.txt");
} *@
