@model List<string>

<h2>Authors List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Author Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author</td>
            </tr>
        }
    </tbody>
</table>

