@model List<BestLibraryManagement.Models.Customers>

<h2>Customers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>    



